.DS_Store
.DS_Store?
tags*
.tags*
build/
.cache/
tmp/
lib/
result/
__pycache__
.idea/
dist/
*.so
.python-version
.zip
compile_commands.json
_deps

**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json
