[tool.poetry]
name = "qdd"
version = "0.1.0"
description = "Qiskit Provider for QDD"
authors = ["Yusuke Kimura <yusuke-kimura@fujitsu.com>"]
readme = "README.md"
#packages = [
#    { include = "qdd" },
#    { include = "pyQDD.*.so" },
#]
#include = ["pyQDD.*.so"]
include = [
    { path = "qdd/pyQDD.*.so" },
]

[tool.poetry.dependencies]
python = ">=3.8, <3.10"
qiskit = ">=0.32.1"
qiskit-aer = "<=0.12.0"
mpi4py = "^3.1.5"


[tool.poetry.group.dev.dependencies]
pytest = "^7.2.2"
qiskit-machine-learning = {extras = ["sparse"], version = "^0.6.0"}
qiskit-finance = "^0.3.4"
qiskit-optimization = "^0.5.0"
qiskit-nature = {extras = ["pyscf"], version = "^0.5.2"}
tweedledum = "^1.1.1"
pybind11 = "^2.10.4"
auditwheel = "^5.4.0"
cmake = "^3.26.4"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
testpaths = [
    "test/python",
]
markers = [
    "slow: marks tests as taking a long time to run"
]
addopts = "-m \"not slow\" --strict-markers"
